Hi <%= @host.name%>,



<% if @host.events.blank?%>
  You don't have any events yet why don't you <%= link_to 'add', new_host_event_path(@host) %> one?!
<% else %>

  <h3>These are all your events!</h3>
  <%= render partial: 'show_events', locals:{events: @events} %>

<p><%= link_to 'Add Event', new_host_event_path(@host) %></p>

<% end %>
