These are all the events

<% @venues.each do |venue| %>
<h3><%= venue.name %> </h3>
# of events <%= venue.events.count %>
  <ul>
  <% venue.events.each do |event| %>
  <li><%=link_to event.name, event_path(event) %> hosted by : <%= event.host.name %> </li>
    <% end %>
</ul>
  <% end %>
