<% if @most_popular == true %>
<h4>These are the top 5 venues</h4>
<% else %>
These are all the venues!
<% end %>
<% @venues.each do |venue| %>
<h3 class="venues-title"><%= link_to venue.name, venue_path(venue) %> </h3>
<%= display_num_of_events(venue) %>
  <ul>
  <% venue.events.each do |event| %>
  <li><%=link_to event.name, event_path(event) %> hosted by : <%= event.host.name %> </li>
    <% end %>
</ul>
  <% end %>
