<h1>Welcome to the Event Organizer.</h1>




Are you a <%= link_to 'host', hosts_signin_path %> or <%= link_to 'guest', guests_signin_path %>?


<p>Do you need a new account to get your party started? Sign up <%= link_to 'here', new_host__path %></p>
